# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on pushes to master.
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "deploy"
  deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: Copy files to host
      run: |
        ssh-keyscan worldvent.timekl.com 2>/dev/null >> known_hosts
        touch id_rsa
        chmod 600 id_rsa
        echo "$DEPLOY_SSH_KEY" >> id_rsa
        head -n2 id_rsa
        rsync \
        -e "ssh -o UserKnownHostsFile=known_hosts -i id_rsa" \
        --verbose --recursive --delete \
        --exclude .git --exclude .htaccess \
        $GITHUB_WORKSPACE/ dh_62nzey@worldvent.timekl.com:worldvent.timekl.com/
        rm -f known_hosts id_rsa
